<hr>
    <p2>
        <center>
        <img src="/img/csumblogo.png" alt="CSUMB logo" width="140px" /> <br>
        CST 336: Internet Programming. 2020&copy; Herndon <br />
        <strong>Disclaimer:</strong> The information in this webpage is fictious. <br/>
        It is used for academic purposes only.
        </center>
    </p2>
    </body>
</html>